.container
  .row
    .col.s12
      %h3 Login
      .row
        = form_for :contact do |f|
          .input-field.col.s12
            = f.label(:email, 'Email')
            = f.text_field(:email)
          .input-field.col.s12
            = f.label(:password, 'Password')
            = f.password_field(:password)
          = f.submit(class: 'btn green')
        %a.btn.right{href: '/register'} Do not have an account?
